<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio – TESSFP</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="data:,">

</head>
<body>
    <div th:replace="components/header :: header"></div>
    
    <main>
        <h1>Bienvenido a la página de inicio</h1>
        <p>Contenido principal aquí...</p>
    </main>
</body>
</html>
